{% if columns %}
    <div class="column-container">
        {% for column in columns %}
            <div class="column">
                {{ column.column_content }}
            </div>
        {% endfor %}
    </div>
{% endif %}