<div class="full-width">
    <footer id="family-of-services" class="fixed-width">
        <div id="family-of-services-title-wrapper">
            <h3>A family of home services:</h3>
            <span>Strong partnerships and a national support system.</span>
        </div>
        <ul id="family-of-services-list">
            <li id="family-of-services-benjamin-franklin"></li>
            <li id="family-of-services-mister-sparky"></li>
            <li id="family-of-services-direct-energy"></li>
        </ul>
    </footer>
</div>
<div id="primary-footer-wrapper" class="full-width">
    <footer id="primary-footer" class="fixed-width">
        <div id="footer-navigation-wrapper">
            <nav>
                <h3>Our Difference</h3>
                <ul>
                    {% for item in footer_menu_1.get_items %}
                        <li class="{{ item.classes | join(' ') }} page-link-{{ item.name | lower }}">
                            <a href="{{ item.link | e('esc_url') }}">
                                {{ item.title | e }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            <nav>
                <h3>About Us</h3>
                <ul>
                    {% for item in footer_menu_2.get_items %}
                        <li class="{{ item.classes | join(' ') }} page-link-{{ item.slug | lower }}">
                            <a href="{{ item.link | e('esc_url') }}">
                                {{ item.title | e }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            <span class="site-attribution">
                &copy; {{ function('date', 'Y') }} {{ site.name }}.
                <a href="http://icongraphics.com">Site design and development by Icon Graphics</a><br>
                <span class="hvac-number">#HVAC 4818</span>
            </span>
        </div>
        <div id="footer-service-area-wrapper">
            {{ site_options.service_areas_text | striptags('<p><h3><strong><b><em><i>') | raw }}
            <div id="service-area-wrapper">
                {% for county in service_area %}
                    <ul>
                        <li class="county-name">{{ county.name | e }}</li>
                        {% for location in county.locations %}
                        <li>{{ location }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </div>
        <div id="footer-contact-info-wrapper">
            <a href="{{ site.link | e('esc_url')}}" id="footer-logo" title="Return Home">
                <img src="{{ theme.link | e('esc_url') }}/images/ohma_logo_inverted.png" alt="One Hour Heating & Air Conditioning Logo">
            </a>

            <a href="tel:{{ site_options.contact_info.phone_number | e}}" id="footer-phone-number">{{ site_options.contact_info.phone_number | e }}</a>
            <span id="footer-address">
                {{ site_options.contact_info.street_address | e }}<br>
                {{ site_options.contact_info.city | e }},
                {{ site_options.contact_info.state | e }}
                {{ site_options.contact_info.zip | e }}
            </span>
            <div id="footer-badge-wrapper">
                <a href="http://www.homeadvisor.com/rated.OneHourAirConditioning.64054369.html" target="_blank" id="footer-home-advisor-badge-2" class="footer-badge">
                    <img alt="HomeAdvisor Screened Pro" src="http://www.homeadvisor.com/images/sp-badges/soap-solid-border.png?sp=64054369&key=16420b75ae998135e6ec6125c4eefcab" />
                </a>
                <a href="http://www.homeadvisor.com/rated.OneHourAirConditioning.64054369.html" target="_blank" id="footer-home-advisor-badge-1" class="footer-badge">
                    <img alt="HomeAdvisor Ratings & Reviews" src="http://www.homeadvisor.com/images/sp-badges/50reviews-solid-border.png?sp=64054369&key=16420b75ae998135e6ec6125c4eefcab" />
                </a>
            </div>
        </div>
    </footer>
</div>
{% if is_frontpage %}
    <script>
        jQuery(document).ready(function(){
            jQuery('#slideshow .slides').slick({
               arrows: false,
                dots: true,
                fade: true,
                appendDots: jQuery('.dots')
            });
        });
    </script>
{% endif %}
{{ function('wp_footer') }}
<script>
    jQuery('.page-link-request-an-appointment a').attr('data-featherlight', '{{ site.link }}/get-appointment-form');
    jQuery('.page-link-request-an-appointment a').attr('data-featherlight-variant', 'request-appointment');
</script>
</body>
</html>