<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="coupon_carousel_nonce" content="{{ coupon_carousel_nonce }}">
    <title>
        {% if wp_title %}
            {{ wp_title }}
        {% else %}
            {{ site.name }}
        {% endif %}
    </title>
    {{ function('wp_head') }}
</head>
<body>
<div id="top-bar" class="full-width">
    <div class="left">
        <span class="top-bar-text">
            {{ site_options.top_bar_text | e }}
        </span>
    </div>
    <div class="right">
        <ul class="social-media-links">
            <li class="facebook">
                <a href="{{ site_options.social_media.facebook_profile_url | e('esc_url') }}" title="Like Us On Facebook" target="_blank"></a>
            </li>
            <li class="twitter">
                <a href="{{ site_options.social_media.twitter_profile_url | e('esc_url') }}" title="Follow Us On Twitter" target="_blank"></a>
            </li>
        </ul>
        <a href="tel:{{ site_options.contact_info.phone_number }}" id="top-bar-emergency-helpline-link">
            Call Our <span>24/7</span> Emergency Help Line At <span>{{ site_options.contact_info.phone_number }}</span>
        </a>
    </div>
</div>
<div id="logo-and-navigation-wrapper" class="full-width">
    <div id="logo-and-navigation" class="fixed-width">
        <a href="{{ site.link }}" id="primary-logo">
            <img src="{{ theme.link }}/images/ohma_logo.png" alt="One Hour Heating & Air Conditioning Logo">
        </a>
        <nav id="primary-navigation">
            <ul>
                {% for item in header_menu.get_items %}
                    <li class="{{ item.classes | join(' ') }} page-link-{{ item.name | lower }}">
                        <a href="{{ item.link | e('esc_url') }}">
                            <i class="sprite sprite-navigation-icon"></i>
                            {{ item.title | e }}
                        </a>
                        {% if item.children %}
                            <ul>
                                {% for child_item in item.children %}
                                    <li class="{{ child_item.classes | join(' ') }} page-link-{{ item.name | lower }}">
                                        <a href="{{ child_item.link | e('esc_url') }}">
                                            {{ child_item.title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <a href="#" id="request-appointment-button" class="red-button appointment-request" data-featherlight="{{ site.link }}/get-appointment-form" data-featherlight-variant="request-appointment">Need Service Now!</a>
    </div>
</div>

