<aside id="content-sidebar">
    {% if(page_photo.add_link == true) %}
    <a href="{{ page_photo.page_photo_link }}" {{ page_photo.additional_link_attributes }}>
        {% endif %}
        {% if(page_photo.photo) %}
            <img src="{{ page_photo.photo.sizes.medium }}" alt="" class="page-photo">
        {% endif %}
        {% if(page_photo.add_link == true) %}
    </a>
    {% endif %}
</aside>