<div class="tool-pagination">
    <ul class="post-pages">
        {% if posts.pagination.prev or posts.pagination.next %}
            <li>Pages:</li>
        {% endif %}
        {% if posts.pagination.prev %}
            <li><a href="{{posts.pagination.prev.link}}" class="prev-link {{posts.pagination.prev.link|length ? '' : ''}}">Prev</a></li>
        {% endif %}
        {% for page in posts.pagination.pages %}
            <li>
                {% if page.link %}
                    <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
                {% else %}
                    <span class="{{page.class}}">{{page.title}}</span>
                {% endif %}
            </li>
        {% endfor %}
        {% if posts.pagination.next %}
            <li><a href="{{posts.pagination.next.link}}" class="next-link {{posts.pagination.next.link|length ? '' : ''}}">Next</a></li>
        {% endif %}
    </ul>
</div>