<div id="slideshow-wrapper">
    <div id="slideshow-inner" class="fixed-width">
        {#<img id="one-hour-man" src="{{ theme.link }}/images/one-hour-technician.png" alt="">#}
        <div id="slideshow">
            <div class="slides">
                {% for slide in site_options.slides %}
                    <div class="slide">
                        <h2>{{ slide.slide_heading | e }}</h2>
                        <span>{{ slide.slide_copy | e }}</span>
                        {% if slide.slide_button %}
                            <a href="{{ slide.slide_button_link.url | e('esc_url') }}" class="red-button auto-width" target="{{ slide.slide_button_link.target | e }}" title="{{ slide.slide_button_link.title | e}}">
                                {{ slide.slide_button_text | e }}
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="dots"></div>
        </div>
    </div>
</div>
