$ohma_logo-x: -5px;
$ohma_logo-y: -5px;
$ohma_logo-width: 450px;
$ohma_logo-height: 164px;
$ohma_logo: $ohma_logo-x $ohma_logo-y $ohma_logo-width $ohma_logo-height;
$ohma_logo_inverted-x: -5px;
$ohma_logo_inverted-y: -179px;
$ohma_logo_inverted-width: 292px;
$ohma_logo_inverted-height: 107px;
$ohma_logo_inverted: $ohma_logo_inverted-x $ohma_logo_inverted-y $ohma_logo_inverted-width $ohma_logo_inverted-height;
$online-specials-x: -5px;
$online-specials-y: -296px;
$online-specials-width: 258px;
$online-specials-height: 105px;
$online-specials: $online-specials-x $online-specials-y $online-specials-width $online-specials-height;
$ohma_logo_sm-x: -465px;
$ohma_logo_sm-y: -5px;
$ohma_logo_sm-width: 211px;
$ohma_logo_sm-height: 78px;
$ohma_logo_sm: $ohma_logo_sm-x $ohma_logo_sm-y $ohma_logo_sm-width $ohma_logo_sm-height;
$direct-energy-logo-x: -465px;
$direct-energy-logo-y: -93px;
$direct-energy-logo-width: 195px;
$direct-energy-logo-height: 75px;
$direct-energy-logo: $direct-energy-logo-x $direct-energy-logo-y $direct-energy-logo-width $direct-energy-logo-height;
$mister-sparky-logo-x: -465px;
$mister-sparky-logo-y: -178px;
$mister-sparky-logo-width: 150px;
$mister-sparky-logo-height: 74px;
$mister-sparky-logo: $mister-sparky-logo-x $mister-sparky-logo-y $mister-sparky-logo-width $mister-sparky-logo-height;
$benjamin-franklin-logo-x: -465px;
$benjamin-franklin-logo-y: -262px;
$benjamin-franklin-logo-width: 170px;
$benjamin-franklin-logo-height: 61px;
$benjamin-franklin-logo: $benjamin-franklin-logo-x $benjamin-franklin-logo-y $benjamin-franklin-logo-width $benjamin-franklin-logo-height;
$comfort-club-logo-x: -5px;
$comfort-club-logo-y: -411px;
$comfort-club-logo-width: 264px;
$comfort-club-logo-height: 32px;
$comfort-club-logo: $comfort-club-logo-x $comfort-club-logo-y $comfort-club-logo-width $comfort-club-logo-height;
$facebook-logo-x: -625px;
$facebook-logo-y: -178px;
$facebook-logo-width: 33px;
$facebook-logo-height: 33px;
$facebook-logo: $facebook-logo-x $facebook-logo-y $facebook-logo-width $facebook-logo-height;
$facebook-logo_inverted-x: -465px;
$facebook-logo_inverted-y: -333px;
$facebook-logo_inverted-width: 33px;
$facebook-logo_inverted-height: 33px;
$facebook-logo_inverted: $facebook-logo_inverted-x $facebook-logo_inverted-y $facebook-logo_inverted-width $facebook-logo_inverted-height;
$twitter-logo_inverted-x: -508px;
$twitter-logo_inverted-y: -333px;
$twitter-logo_inverted-width: 32px;
$twitter-logo_inverted-height: 33px;
$twitter-logo_inverted: $twitter-logo_inverted-x $twitter-logo_inverted-y $twitter-logo_inverted-width $twitter-logo_inverted-height;
$twitter-logo-x: -550px;
$twitter-logo-y: -333px;
$twitter-logo-width: 32px;
$twitter-logo-height: 33px;
$twitter-logo: $twitter-logo-x $twitter-logo-y $twitter-logo-width $twitter-logo-height;
$carousel-arrow_left-x: -645px;
$carousel-arrow_left-y: -262px;
$carousel-arrow_left-width: 18px;
$carousel-arrow_left-height: 37px;
$carousel-arrow_left: $carousel-arrow_left-x $carousel-arrow_left-y $carousel-arrow_left-width $carousel-arrow_left-height;
$carousel-arrow_right-x: -307px;
$carousel-arrow_right-y: -179px;
$carousel-arrow_right-width: 18px;
$carousel-arrow_right-height: 37px;
$carousel-arrow_right: $carousel-arrow_right-x $carousel-arrow_right-y $carousel-arrow_right-width $carousel-arrow_right-height;

@mixin sprite-image {
  background-image: url("images/spritesheet.png");
}
@mixin sprite-position($sprite) {
  background-position: nth($sprite, 1) nth($sprite, 2);
}
@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}
@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}
@mixin sprite($sprite) {
  @include sprite-image;
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
