/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/open-sans-v15-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
  url('fonts/open-sans-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/open-sans-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/open-sans-v15-latin-300.woff') format('woff'), /* Modern Browsers */
  url('fonts/open-sans-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/open-sans-v15-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url('fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('fonts/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/open-sans-v15-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
  url('fonts/open-sans-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/open-sans-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/open-sans-v15-latin-600.woff') format('woff'), /* Modern Browsers */
  url('fonts/open-sans-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/open-sans-v15-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/open-sans-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
  url('fonts/open-sans-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/open-sans-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/open-sans-v15-latin-700.woff') format('woff'), /* Modern Browsers */
  url('fonts/open-sans-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/open-sans-v15-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/open-sans-v15-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
  url('fonts/open-sans-v15-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/open-sans-v15-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/open-sans-v15-latin-700italic.woff') format('woff'), /* Modern Browsers */
  url('fonts/open-sans-v15-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/open-sans-v15-latin-700italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/open-sans-v15-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
  url('fonts/open-sans-v15-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/open-sans-v15-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/open-sans-v15-latin-800.woff') format('woff'), /* Modern Browsers */
  url('fonts/open-sans-v15-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/open-sans-v15-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}
$font-OpenSans: 'Open Sans', sans-serif;

/* open-sans-condensed-300 - latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/open-sans-condensed-v12-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'),
  url('fonts/open-sans-condensed-v12-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/open-sans-condensed-v12-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/open-sans-condensed-v12-latin-300.woff') format('woff'), /* Modern Browsers */
  url('fonts/open-sans-condensed-v12-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/open-sans-condensed-v12-latin-300.svg#OpenSansCondensed') format('svg'); /* Legacy iOS */
}

/* open-sans-condensed-700 - latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/open-sans-condensed-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Condensed Bold'), local('OpenSansCondensed-Bold'),
  url('fonts/open-sans-condensed-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/open-sans-condensed-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/open-sans-condensed-v12-latin-700.woff') format('woff'), /* Modern Browsers */
  url('fonts/open-sans-condensed-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/open-sans-condensed-v12-latin-700.svg#OpenSansCondensed') format('svg'); /* Legacy iOS */
}

$font-OpenSansCondensed: 'Open Sans Condensed', sans-serif;

@font-face {
  font-family: 'ClarendonLTStd';
  src: url('fonts/ClarendonLTStd.eot');
  src: url('fonts/ClarendonLTStd.eot') format('embedded-opentype'),
  url('fonts/ClarendonLTStd.woff2') format('woff2'),
  url('fonts/ClarendonLTStd.woff') format('woff'),
  url('fonts/ClarendonLTStd.ttf') format('truetype'),
  url('fonts/ClarendonLTStd.svg#ClarendonLTStd') format('svg');
}

@font-face {
  font-family: 'ClarendonLTStdBold';
  src: url('fonts/ClarendonLTStdBold.eot');
  src: url('fonts/ClarendonLTStdBold.eot') format('embedded-opentype'),
  url('fonts/ClarendonLTStdBold.woff2') format('woff2'),
  url('fonts/ClarendonLTStdBold.woff') format('woff'),
  url('fonts/ClarendonLTStdBold.ttf') format('truetype'),
  url('fonts/ClarendonLTStdBold.svg#ClarendonLTStdBold') format('svg');
}

@font-face {
  font-family: 'ClarendonLTStdLight';
  src: url('fonts/ClarendonLTStdLight.eot');
  src: url('fonts/ClarendonLTStdLight.eot') format('embedded-opentype'),
  url('fonts/ClarendonLTStdLight.woff2') format('woff2'),
  url('fonts/ClarendonLTStdLight.woff') format('woff'),
  url('fonts/ClarendonLTStdLight.ttf') format('truetype'),
  url('fonts/ClarendonLTStdLight.svg#ClarendonLTStdLight') format('svg');
}

$font-ClarendonLTStd: 'ClarendonLTStd', serif;