<div id="home-columns" class="fixed-width">
    {% if site_options.frontpage_columns %}
        {% for column in site_options.frontpage_columns %}
            <div class="home-columns-column">
                <div class="home-columns-column-image-wrapper">
                    <img src="{{ column.icon.url }}" alt="" class="home-columns-column-image">
                </div>
                <h2 class="home-columns-column-title">{{ column.title }}</h2>
                <div class="home-columns-column-content">
                    {{ column.content }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>