<div class="page-content-wrapper">
    <div class="page-content-photo" style="background-image:url('{{ site_options.content_photo.sizes.large }}');"></div>
    <article class="page-content-content">
        {% if title_override %}
            <h1>{{ title_override }}</h1>
        {% else %}
            <h1>{{ post.title }}</h1>
        {% endif %}
        {{ post.content }}
    </article>
</div>