 <div class="slides fixed-width" id="coupon-carousel">
    {% for coupon in coupons %}
        {% include 'partials/frontpage/coupon-carousel-coupon.twig' %} {# Load coupon code #}
    {% endfor %}
</div>