<div class="coupon" id="coupon-{{ coupon.id }}">
    <div class="coupon-content">
        <h3 class="coupon-price">
            {% if(coupon.type.coupon == "discount" and coupon.type.discount == "dollars_off") %}
                <sup>$</sup>{{ coupon.price}} <span>OFF</span>
            {% elseif(coupon.type.coupon == "discount" and coupon.type.discount == "percentage_off") %}
                {{ coupon.price }}<sup>%</sup> <span>OFF</span>
            {% elseif(coupon.type.coupon == "offer") %}
                {{ coupon.offer_text | e }}
            {% else %}
                <sup>$</sup>{{ coupon.price | e }}
            {% endif %}
        </h3>
        <h4 class="coupon-title">{{ coupon.title | e }}</h4>
        <span class="coupon-description">
            {{ coupon.description | e }}
        </span>
        {% if(coupon.image) %}
            <img src="{{ coupon.image }}" class="coupon-image" alt="Image for the '{{ coupon.title | e }}" coupon'>
        {% else %}
            <img src="{{ theme.link }}/images/ohma_logo_sm.png" class="coupon-image" alt='Image for the "{{ coupon.title | e }}" coupon'>
        {% endif %}
    </div>
    <div class="coupon-contact-info">
        {{ site.name }}<br>
        <small>
            {{ site_options.contact_info.phone_number }} <br>
            {{ site_options.contact_info.street_address }}
            {{ site_options.contact_info.city }}
            {{ site_options.contact_info.state }}
            {{ site_options.contact_info.zip }}<br>
            <a href="#print-this" class="print-this" data-print-element="coupon-{{ coupon.id }}">Print This Coupon</a>
        </small>
    </div>
</div>