<div id="coupon-bar" class="dark-gradient-border">
    <div class="fixed-width">
        <span class="stylized">Print Coupons & Special Offers!</span>
        <a href="{{ site.link }}/special-offers" id="coupon-link" class="link">
            View all coupons <span>>></span>
            <button class="coupon-button"></button>
        </a>
    </div>
</div>

