#home-columns{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 40px auto;
  padding-bottom: 40px;
}
  .home-columns-column{
    width: 33%;
    border-right: 1px solid $color-ltgray;
    padding: 20px 10px;

    @include mq(1200px){
      width: 100%;
      border-right: 0;
      border-bottom: 1px solid $color-ltgray;
      padding: 10px;
    }

    &:last-child{
      border: 0;
    }

    &-image{
      display: block;
      max-width: 80%;
      margin: 0 auto 15px auto;

      &-wrapper{
        @include mq(1200px){
          padding: 20px;
          width: 200px;
          margin-right: 20px;
          float: left;
        }

        @include mq(800px){
          float: none;
          margin-right: 0;
          width: 100%;
          padding: 0;
        }
      }
    }
    &-title{
      text-align: center;
      font: 700 (30/16)*1em $font-OpenSansCondensed;
      margin: 0 0 15px 0;
      
      @include mq(1200px){
        text-align: left;
      }
      
      @include mq(800px){
        text-align: center;
      }
    }

    &-content{
      text-align: center;
      font: 300 (18/16)*1em $font-OpenSans;
      color: $color-black;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      @include mq(1200px){
        text-align: left;
        justify-content: flex-start;
      }

      @include mq(800px){
        text-align: center;
        justify-content: center;
      }

      img{
        max-width: 75%;
        margin: 20px 0 10px 0;
        display: inline-block;
      }

      a{
        color: $color-red;
      }
      
      &>ul{
        text-align: left;
        column-count: 2;
        column-gap: 40px;
        column-fill: auto;
        list-style: none;
        margin: 15px 0 0 0;
        padding: 0;
        max-height: 175px;

        @include mq(700px){
          max-height: none;
          column-count: 1;
          column-gap: 0;
        }

        &>li{
          margin-bottom: 5px;

          &:before {
            content: "▪";
            color: $color-gray;
            margin-right: 5px;
          }
        }
      }
    }
  }

  #home-comfort-video-link{
    display: block;
    width: 100%;
    text-align: center;
    
    img{
      display: inline-block;
    }
    
    @include mq(1200px){
      text-align: left;
    }
    
    @include mq(800px){
      text-align: center;
    }
  }
