.featherlight {

  .featherlight-content{
    padding: 0;
    border: 5px solid $color-red;

    @include mq(900px){
      width: 75%;
    }

    @include mq(700px){
      width: 95%;
    }
  }

  &.video-popup{

    .featherlight-inner{
      padding: 0;
    }
  }

  &.request-appointment{

    .featherlight-inner{
      padding: 10px 20px;
    }

    .featherlight-content{
      width: 50%;
    }
  }
}

  .appointment-popup-header{
    background-color: $color-red;
    color: $color-white;
    text-align: center;
    padding: 5px;
    font: 700 (20/16)*1em $font-OpenSans;
    margin-top: 0;

    a{
      font: 400 (30/20)*1em $font-ClarendonLTStd;
      color: $color-yellow;
      text-decoration: none;
    }
  }