// Basic Site Widths
.full-width{
  width: 100%;
}

.fixed-width{
  width: 1600px;
  margin: 0 auto;

  @include mq(1600px){
    width: 95%;
  }
}

// Typography
body{
  font: 300 (16/16)*1em $font-OpenSans;
  background: #cbcccc;
  background: -moz-linear-gradient(left, #cbcccc 0%, #d8d9d9 3%, #e2e3e3 6%, #f1f1f1 13%, #fbfbfb 21%, #ffffff 33%, #ffffff 70%, #fafafa 82%, #f4f4f4 87%, #ebecec 91%, #dbdcdc 97%, #cbcccc 100%);
  background: -webkit-linear-gradient(left, #cbcccc 0%,#d8d9d9 3%,#e2e3e3 6%,#f1f1f1 13%,#fbfbfb 21%,#ffffff 33%,#ffffff 70%,#fafafa 82%,#f4f4f4 87%,#ebecec 91%,#dbdcdc 97%,#cbcccc 100%);
  background: linear-gradient(to right, #cbcccc 0%,#d8d9d9 3%,#e2e3e3 6%,#f1f1f1 13%,#fbfbfb 21%,#ffffff 33%,#ffffff 70%,#fafafa 82%,#f4f4f4 87%,#ebecec 91%,#dbdcdc 97%,#cbcccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbcccc', endColorstr='#cbcccc',GradientType=1 );
}

// Headings
h1, h2, h3, h4, h5, h6{
  font-weight: 700;

  &.centered{
    text-align: center;
  }
}

h3{
  max-width: 100%;

  &.coupon-price{
    @include mq(800px){
      margin-right: 0;
    }
  }
}

// Buttons
.red-button{
  display: block;
  border-radius: 15px;
  padding: 10px 15px 15px 15px;
  font: 700 (22/16)*1em $font-OpenSans;
  color: $color-white;
  text-decoration: none;
  right: 0;
  top: 20%;
  //Color Zilla generated gradient
  background: #ec1848;
  background: -moz-linear-gradient(top, #ec1848 0%, #db1942 41%, #b71b34 100%);
  background: -webkit-linear-gradient(top, #ec1848 0%,#db1942 41%,#b71b34 100%);
  background: linear-gradient(to bottom, #ec1848 0%,#db1942 41%,#b71b34 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec1848', endColorstr='#b71b34',GradientType=0 );
  transition: all .5s;

  &.auto-width{
    display: inline-block;
  }

  &:hover{
    background: #b71b34;
    background: -moz-linear-gradient(top, #b71b34 0%, #db1942 59%, #ec1848 100%);
    background: -webkit-linear-gradient(top, #b71b34 0%,#db1942 59%,#ec1848 100%);
    background: linear-gradient(to bottom, #b71b34 0%,#db1942 59%,#ec1848 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b71b34', endColorstr='#ec1848',GradientType=0 );
  }

  &.subpage-button{
    color: $color-white !important;
    margin: 10px 0;
  }
}

.dark-gradient-border{
  background: #000000;
  background: -moz-linear-gradient(left, #000000 0%, #3f3f3f 100%);
  background: -webkit-linear-gradient(left, #000000 0%,#3f3f3f 100%);
  background: linear-gradient(to right, #000000 0%,#3f3f3f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#3f3f3f',GradientType=1 );
  padding: 15px 0;

  &>div.fixed-width {
    display: flex;
    justify-content: center;
    height: 100%;

    @include mq(1000px){
      flex-wrap: wrap;
    }

    .stylized {
      color: $color-yellow;
      text-transform: none;
      font: 400 (36/16)*1em $font-ClarendonLTStd;
      margin: -5px 20px 0 0;
      height: 100%;
      line-height: 1.3em;
      text-align: center;

      @include mq(1200px) {
        font-size: (26/16)*1em;
      }

    }
    .link {
      color: $color-white;
      text-transform: uppercase;
      font: 700 (26/16)*1em $font-OpenSans;
      text-decoration: none;
      transition: color .3s;
      text-align: center;

      @include mq(1200px) {
        font-size: (20/16)*1em;
      }

      &:hover {
        color: $color-red;
      }

      span {
        color: $color-yellow;
      }
    }
  }
}

.column-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &>div{
    width: 49%;

    @include mq(900px){
      width: 100%;
    }

    &:first-child{
      margin-right: 2%;

      @include mq(900px){
        margin-right: 0;
      }
    }
  }
}

.white-text{
  color: $color-white;
}

.yellow-text{
  color: $color-yellow;
}