#slideshow-wrapper{
  height: 600px;
  width: 100%;
  background: $color-white url('images/cozy-family.jpg') left top no-repeat;
  background-size: cover;

  @include mq(1100px){
    height: 450px;
  }
}
  #slideshow-inner{
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: right;

    @include mq(1100px){
      align-items: center;
      width: 100%;
    }
  }
    #one-hour-man{
      max-height: 91%;

      @include mq(1100px){
        display: none;
      }
    }
    #slideshow{
      width: (910/1600)*100%;
      height: 440px;
      background-color: rgba($color-white, .85);
      margin-bottom: 80px;
      position: relative;

      @include mq(1100px){
        width: 100%;
        height: 100%;
        margin: 0;
        background-color: rgba($color-white, .75);
      }

      .slide{
        padding: 40px;

        @include mq(1200px){
          padding: 20px;
        }

        h2{
          $color: $color-black;
          margin: 0 0 20px 0;
          padding: 0;
          font: 700 (52/16)*1em $font-OpenSansCondensed;
          border-bottom: 3px solid $color-yellow;

          @include mq(1400px){
            font-size: (45/16)*1em;
          }

          @include mq(600px){
            font-size: (30/16)*1em;
          }
        }

        span{
          color: $color-gray;
          font: 200 (26/16)*1em $font-OpenSans;
          display: block;
          margin-bottom: 15px;

          @include mq(1400px){
            font-size: (20/16)*1em;
          }

          @include mq(600px){
            font-size: (16/16)*1em;
          }
        }

        .red-button{
          @include mq(600px){
            padding: 5px 15px;
          }
        }
      }
      .dots{
        position: absolute;
        bottom: 40px;
        right: 40px;

        ul{
          list-style: none;
          margin: 0;
          padding: 0;

          li{
            display: inline-block;
          }

          li button {
            width: 20px;
            height: 20px;
            margin: 0 10px;
            border: 0;
            background-color: rgba($color-gray, .4);
            color: transparent;
            padding: 0;


            &:hover {
              cursor: pointer;
            }
          }

          li.slick-active button{
            background-color: rgba($color-gray, .8);
            color: transparent;
          }
        }
      }
    }

#slideshow-border{
  @extend .dark-gradient-border;
  height: 62px;

  @include mq(820px){
    height: auto;
  }
}