{% include 'partials/header.twig' %}
{% include 'partials/frontpage/view-all-coupons.twig' %}
    <div id="page-content-and-photo-wrapper">
        <div id="page-content">
            {% block content %}
                Sorry, no content.
            {% endblock %}
        </div>
    </div>
{% if site_options.under_navigation_text %}
    <div id="slideshow-border">
        <div class="fixed-width">
            {{ site_options.under_navigation_text }}
        </div>
    </div>
{% endif %}
{% block scripts %}

{% endblock %}

{% include 'partials/footer.twig' %}
