{% include 'partials/header.twig' %}
    {% if is_frontpage %}
        {% include "partials/slideshow.twig" %}
    {% endif %}
    {% block heading %}
        <h1 class="centered">{{ post.title }}</h1>
        <hr>
    {% endblock %}
{% include 'partials/frontpage/view-all-coupons.twig' %}
{% include 'partials/frontpage/coupon-carousel.twig' %}
<div id="content-wrapper" class="frontpage">
    {% include 'partials/frontpage/columns.twig' %}
    {% include 'partials/frontpage/content.twig' %}
</div>
{% block scripts %}

{% endblock %}

{% if site_options.under_slideshow_text %}
    <div id="slideshow-border">
        <div class="fixed-width">
            {{ site_options.under_slideshow_text }}
        </div>
    </div>
{% endif %}

{% include 'partials/frontpage/footer.twig' %}

{% include 'partials/footer.twig' %}
