article.blog-post-wrapper{
  border-bottom: 3px solid $color-ltgray;
  padding-bottom: 20px;
  padding-left: 20px;

  &:last-child{
    border: 0;
  }
}


  .post-title{
    margin-bottom: -10px;
  }

  .post-meta{
    font-size: .75em;
    color: $color-gray;
  }

  .post-pages{
    margin: 50px 0 0 0;
    padding: 0;
    list-style: none;

    li{
      display: inline-block;
      margin: 0 5px;
    }
  }