.question{
  h2{
    margin-bottom: 5px;
  }

  span{
    font: 700 2em $font-ClarendonLTStd;
    display: inline-block;

    &.q{
      color: $color-red;
    }

    &.a{
      color: $color-gray;
    }
  }

  .answer{
    margin-left: 50px;
  }
}