#content-wrapper.frontpage{
  padding-top: 0;
}

#coupon-bar{
  height: 62px;

  @include mq(700px){
    height: auto;
  }

  .fixed-width{
    position: relative;
    justify-content: center;

    @include mq(1500px){
      justify-content: flex-start;
    }

    @include mq(1000px){
      justify-content: center;
    }
  }
}
  .coupon{

    &-link{
      display: inline-block;
    }

    &-button{
      @include sprite($online-specials);
      border: 0;
      background-color: transparent;
      position: absolute;
      right: 0;
      bottom: -22px;
      
      @include mq(1000px){
        display: none;
      }

      &:hover{
        cursor: pointer;
      }
    }
  }

  #coupon-carousel{
    margin-top: 40px;
    
    .slick-track{
      display: flex;
    }
  }

  #coupon-carousel, #special-offers-page-list, .printed-coupon{

    .coupon{
      width: 32%;
      height: auto;
      background-color: $color-yellow;
      padding: 10px;
      margin: 0 .5%;

      &-content{
        background: $color-white;
        padding: 10px;
      }

      &-price{
        color: $color-red;
        font: 700 (73/16)*1em $font-OpenSans;
        text-align: center;
        margin: 10px 0 10px 0;

        @include mq(1400px){
          margin: 0;
        }

        @include mq(1200px){
          font-size: (50/16)*1em;
        }

        sup, span{
          font-size: (43/73)*1em;
        }
      }

      &-title{
        font: 700 (23/16)*1em $font-OpenSans;
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 20px 0;

        @include mq(1400px){
          margin: 0 0 10px 0;
        }

        @include mq(1200px){
          font-size: (18/16)*1em;
        }
      }

      &-description{
        display: block;
        font: 300 (12/16)*1em $font-OpenSans;
        text-align: center;
        padding: 0 20px;
        margin-bottom: 15px;

        @include mq(1400px){
          padding: 0 10px;
          margin-bottom: 5px;
        }
      }

      &-image{
        display: block;
        margin: 0 auto;
      }

      &-contact-info{
        font: 700 (16/16)*1em $font-OpenSans;
        text-align: center;
        padding: 20px 0 10px 0;

        small{
          font-weight: 300;
          font-size: (13/16)*1em;
        }
      }
    }

    .print-this{
      color: $color-gray;
    }
  }

#special-offers-page-list{

  li{
    @include mq(1500px){
      width: 50% !important;
    }

    @include mq(900px){
      width: 100% !important;
    }
  }
}

  .slick-prev, .slick-next{
    position: absolute;
    top: calc(50% - 37px);
    z-index: 20;
    background-color: transparent;

    &:hover{
      cursor: pointer;
    }
  }

  .slick-prev{
    left: 0;
    @include sprite($carousel-arrow_left);
    border: 0;
  }

  .slick-next{
    right: 0;
    @include sprite($carousel-arrow_right);
    border: 0;
  }
