#special-offers-page-list, .printed-coupon{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  width: 100%;

  li, .printed-coupon{
    padding: 10px 20px;
    margin: 0 0 20px 0;
    text-align: center;
    width: 30%;

    @include mq(800px){
      padding: 5px 10px;
    }

    @include mq(600px){
      padding: 0;
    }

    &:before{
      content: "";
      display: none;
    }

    .coupon{
      width: 100%;

      &-image{
        max-width: 100%;
      }
    }
  }
}

.coupon{
  border: 3px dashed $color-black;
}

.printed-coupon{
  background: #fff;
  border: 0;

  .slick-slide{
    display: block;
  }

  .coupon:first-child{
    width: 500px;
    background-color: transparent;
    border: 0;
  }

  .coupon:last-child{
    width: 500px;
    border: 3px dashed $color-black;
    background-color: $color-white;
  }

  .coupon-content{
    background-color: $color-white;
  }

  .print-this{
    display: none;
  }
}