.page-content{

  &-wrapper{
    border-top: 4px solid $color-gray;
    display: flex;
    flex-wrap: wrap;
    background-color: $color-ltrgray;
  }
  &-photo{
    width: 33%;
    background-size: cover;
    background-color: $color-ltgray;
    background-repeat: no-repeat;
    background-position: 0 0;

    @include mq(1200px){
      display: none;
    }
  }
  &-content{
    width: 66%;
    min-height: 400px;
    padding: 30px 7% 30px 30px;
    font: 300 (16/16)*1em $font-OpenSans;
    line-height: (24/16)*1em;

    @include mq(1200px){
      width: 100%;
    }

    strong{
      font: 700 (18/16)*1em $font-OpenSans;
    }

    ul{
      list-style: none;
      margin: 10px 0;
      padding: 0;

      &.inline li{
        display: inline;
      }

      li{
        color: $color-red;
        font: 600 (24/16)*1em $font-OpenSans;

        &:before{
          content: "▪";
          color: $color-gray;
          margin: 0 5px;
        }
      }
    }
  }
}

#page-content-and-photo-wrapper{
  display: flex;
  margin-bottom: 50px;
}
  #page-content{
    font: 300 (20/16)*1em $font-OpenSans;
    line-height: (28/20)*1em;
    padding: 0 40px;
    width: 100%;

    @include mq(800px){
      padding: 0 20px;
    }

    @include mq(600px){
      padding: 0 5px;
    }

    h1{
      border-bottom: 2px solid $color-yellow;
      font: 700 (48/20)*1em $font-OpenSansCondensed;
      margin: 20px 0 20px 0;
      color: $color-black;
    }

    h2{
      font: 700 (30/20)*1em $font-OpenSansCondensed;
      color: $color-gray;
    }

    h3{
      font: 700 (25/20)*1em $font-OpenSansCondensed;
      border-bottom: 1px solid $color-red;
      padding-right: 40px;
      display: inline-block;
      margin-bottom: 10px;
      color: $color-gray;
    }

    a{
      color: $color-black;
      transition: color .2s;

      &:hover{
        color: $color-red;
      }
    }
  
    article>ul{
      list-style: none;
      margin: 10px;
      padding: 0;

      @include mq(800px){
        margin: 0;
      }
  
      li:before{
        content: "▪";
        color: $color-red;
        font-size: (25/20)*1em;
        margin: 0 5px;
      }
    }
  }

#content-sidebar{
  float: left;
  max-width: 450px;
  margin: 0 20px 20px 0;
}
