{% extends "templates/base.twig" %}
{% block content %}
    <article id="post-{{ post.slug }}" class="post-wrapper">
        {% block heading %}
            <h1>{{ post.title }}</h1>
        {% endblock %}
        {% include 'partials/page-photo.twig' %}
        {{ post.content }}

        {% for question in questions %}
            <div class="question">
                <h2><span class="q">Q.</span> {{ question.question | e }}</h2>
                <div class="answer"><span class="a">A.</span> {{ question.answer | e }}</div>
            </div>
        {% endfor %}
    </article>
    {% include 'partials/columns.twig' %}
{% endblock %}