{% extends "templates/base.twig" %}
{% block content %}
    <div id="post-{{ post.slug }}" class="post-wrapper">
        {% block heading %}
            <h1>{{ post.title }}</h1>
        {% endblock %}
        {{ post.content }}
        {% include 'partials/pagination.twig' %}

        {% for post in posts %}
            <article id="post-{{ post.id }}" class="blog-post-wrapper">
                <h2 class="post-title">
                    <a href="{{ post.link }}">{{ post.title }}</a>
                </h2>
                <div class="post-meta">
                    <strong>Posted By</strong> {{ post.author.name }}
                    {#<strong>In</strong> {{ post.terms('category') | join(', ') }}#}
                    <strong>On</strong> {{ post.date }}
                </div>
                <div class="post-content">
                    {{ post.preview }}
                </div>
            </article>
        {% endfor %}

        {% include 'partials/pagination.twig' %}
    </div>
    {% include 'partials/columns.twig' %}
{% endblock %}