{% extends "templates/base.twig" %}
{% block content %}
    <article id="post-{{ archive_post.id }}" class="post-wrapper">
        {% block heading %}
            <h1>{{ post.title }}</h1>
        {% endblock %}
        {% include 'partials/page-photo.twig' %}
        {{ post.content }}
    </article>
    {% include 'partials/columns.twig' %}
{% endblock %}
