{% extends "templates/base.twig" %}
{% block content %}
    <article id="post-{{ archive_post.id }}" class="post-wrapper">
        {% block heading %}
            <h1>{{ post.title }}</h1>
        {% endblock %}
        {{ post.content }}
        {% if coupons %}
            <ul id="special-offers-page-list">
            {% for coupon in coupons %}
                <li>
                    {% include 'partials/frontpage/coupon-carousel-coupon.twig' %}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </article>
    {% include 'partials/columns.twig' %}
{% endblock %}
