{#
    Layout for all post-type singles
#}

{% extends "templates/base.twig" %}
{% block content %}
    <article id="post-404" class="post-wrapper">
        Sorry! Looks like this page or post has moved or is non-existent.
    </article>
{% endblock %}