{#
    Layout for all post-type archives
#}

{% extends "templates/base.twig" %}
{% block content %}
    {% for archive_post in posts %}
        <article id="post-{{ archive_post.id }}" class="post-wrapper">
            <h2 class="post-title">
                <a href="{{ archive_post.link }}">{{ archive_post.title }}</a>
            </h2>
            <div class="post-meta">
                <span class="post-date"><strong>Posted on</strong> {{ archive_post.post_date | date }} <strong>by</strong> {{ archive_post.author.name }}</span>
            </div>
            <div class="post-excerpt">
                {{ archive_post.get_preview(100, 0, '') }}
            </div>
            <a href="{{ archive_post.link }}" class="post-link">Read More</a>
        </article>
    {% endfor %}
    {% include 'partials/pagination.twig' %}
{% endblock %}
