{#
    Layout for all post-type singles
#}

{% extends "templates/base.twig" %}
{% block content %}
    <article id="post-{{ post.slug }}" class="post-wrapper clearfix">
        {% block heading %}
            {% if (title_override) %}
                <h1>{{ title_override }}</h1>
            {% else %}
                <h1>{{ post.title }}</h1>
            {% endif %}
        {% endblock %}
        {% if is_a_post %}
            <div class="post-meta">
                <strong>Posted By</strong> {{ post.author.name }}
                {#<strong>In</strong> {{ post.terms('category') | join(', ') }}#}
                <strong>On</strong> {{ post.date }}
            </div>
        {% endif %}
        {% include 'partials/page-photo.twig' %}
        {{ post.content }}
    </article>
    {% include 'partials/columns.twig' %}
{% endblock %}
