#family-of-services{
  padding: 40px 0;
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;

  &-title-wrapper{

    @include mq(1420px){
      width: 100%;
    }

    h3{
      color: $color-red;
      font: 400 (32/16)*1em $font-ClarendonLTStd;
      margin: 0 0 10px 0;

      @include mq(1400px){
        text-align: center;
      }
    }

    span{
      color: $color-black;
      font: 300 (24/16)*1em $font-OpenSans;

      @include mq(1420px){
        text-align: center;
        display: block;
        margin-bottom: 20px;
      }
    }
  }

  &-list{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @include mq(1420px){
      width: 100%;
    }

    li{
      margin: 0 50px;

      @include mq(850px){
        margin: 25px 50px;
      }
    }
  }
    &-benjamin-franklin{
      @include sprite($benjamin-franklin-logo);
    }
    &-mister-sparky{
      @include sprite($mister-sparky-logo);
    }
    &-direct-energy{
      @include sprite($direct-energy-logo);
    }
}

#primary-footer-wrapper{
  background: url('images/grate-bg.jpg') center center repeat;
  background-size: cover;
}
  #primary-footer{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;

    @include mq(1000px){
      flex-wrap: wrap;
    }
  }
    #footer-navigation-wrapper{
      width: 25%;
      display: flex;
      flex-wrap: wrap;

      @include mq(1300px){
        width: 20%;
      }

      @include mq(1000px){
        width: 50%;
      }

      @include mq(500px){
        width: 100%;
        justify-content: center;
        align-content: center;
      }

      nav{
        width: 50%;

        @include mq(1300px){
          width: 100%;

          ul{
            margin-bottom: 10px;
          }
        }

        @include mq(1000px){
          width: 50%;
        }

        @include mq(700px){
          width: 100%;
        }

        @include mq(500px){
          width: 50%;
        }

        h3{
          font: 400 (22/16)*1em $font-ClarendonLTStd;
          margin: 0 0 15px 0;
          color: $color-red;

          @include mq(1300px){
            margin: 0;
          }
        }

        li{
          margin: 7px 0;

          @include mq(1300px){
            margin: 0 0 5px 0;
          }
        }
        
        a{
          color: $color-white;
          text-decoration: none;
          transition: color .2s;
          font: 400 (16/16)*1em $font-OpenSans;

          &:hover{
            color: $color-yellow;
          }
        }
      }
      
      .site-attribution{
        display: block;
        width: 100%;
        margin: 50px 0 20px 0;
        color: $color-white;
        font: 700 (11/16)*1em $font-OpenSansCondensed;
        
        @include mq(500px){
          text-align: center;
        }

        a{
          color: inherit;
          text-decoration: none;
          
          &:hover{
            text-decoration: underline;
          }
        }

        .hvac-number{
          display: block;
          margin-top: 20px;
          font-size: 1.26em;
        }
      }
    }
    #footer-service-area-wrapper{
      width: 50%;
      padding-left: 15px;

      @include mq(1300px){
        width: 55%;
      }

      @include mq(1000px){
        order: 3;
        width: 100%;
      }

      h3{
        color: $color-yellow;
        font: italic 700 (15/16)*1em $font-OpenSans;
        margin: 0 0 20px 0;
      }
    }

      #service-area-wrapper{
        display: flex;
        justify-content: space-between;

        @include mq(1100px){
          flex-wrap: wrap;
        }

        ul{
          list-style: none;
          margin: 0 5px;
          padding:0;
          display: block;
          width: 150px;

          li{
            color: $color-ltgray;
            font: 400 (12/16)*1em $font-OpenSans;

            &.county-name{
              color: $color-red;
              font: 700 (13/16)*1em $font-OpenSans;
            }
          }
        }
      }
    #footer-contact-info-wrapper{
      text-align: right;

      @include mq(1000px){
        order: 2;
        width: 50%;
      }

      @include mq(500px){
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
      }
    }
      #footer-logo{
        display: inline-block;
        margin-top: -20px;

        img{
          max-width: 100%;
        }
      }
      #footer-phone-number{
        display: block;
        margin-top: 40px;
        color: $color-yellow;
        text-decoration: none;
        font: 400 (36/16)*1em $font-ClarendonLTStd;
      }
      #footer-address{
        color: $color-white;
        font: 700 (22/16)*1em $font-OpenSans;
      }

      #footer-badge-wrapper{
          width: 100%;
          text-align: right;
          margin: 25px 0;
          
          @include mq(500px){
              text-align: center;
          }
      }

      .footer-badge{
          display: inline-block;
          margin: 0 5px;
      }


