#top-bar{
  background-color: $color-yellow;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;

  @include mq(1000px){
    height: auto;
  }

  .left{
    background-color: $color-red;
    width: (480/1600)*100%;
    position: relative;

    @include mq(1600px){
      padding-left: 10px;
    }

    @include mq(1000px){
      width: 100%;
      display: block;
      padding: 5px 10px;
      
      &:after{
        display: none;
      }
    }

    &:after{
      content: "";
      position: absolute;
      width: 60px;
      height: 80px;
      transform: rotate(30deg);
      right: -24px;
      top: -30px;
      background-color: $color-red;
    }
  }
  .right{
    width: ((1600-480)/1600)*100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq(1600px){
      padding-right: 10px;
    }

    @include mq(1000px){
      width: 100%;
      padding: 5px 10px;
      justify-content: center;
    }

    @include mq(800px){
      flex-wrap: wrap;
    }
  }
}

.top-bar-text{
  color: $color-white;
  text-transform: uppercase;
  font: 700 (16/16)*1em $font-OpenSans;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  z-index: 5;
  position: relative;
  padding: 0 30px 0 10px;

  @include mq(1600px){
    font-size: (14/16)*1em;
  }
  
  @include mq(1000px){
    display: block;
    text-align: center;
    padding-right: 0;
    height: auto;
  }
}
  .social-media-links {
    list-style: none;
    margin: 0;
    padding: 0 0 0 60px;
    display: flex;
    align-items: center;
    height: 100%;

    @include mq(1000px){
      height: auto;
    }

    @include mq(800px){
      padding-left: 0;
    }

    li a {
      display: block;
      width: 100%;
      height: 100%;
    }

    .facebook {
      @include sprite($facebook-logo);
      margin-right: 10px;

      &:hover {
        @include sprite($facebook-logo_inverted);
      }
    }
    .twitter {
      @include sprite($twitter-logo);

      &:hover {
        @include sprite($twitter-logo_inverted);
      }
    }
  }
  #top-bar-emergency-helpline-link{
    font: 800 (28/16)*1em $font-OpenSans;
    color: $color-black;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mq(1400px){
      font-size: (24/16)*1em;
    }

    @include mq(1200px){
      font-size: (18/16)*1em;
    }

    @include mq(1000px){
      margin-left: 20px;
    }

    @include mq(600px){
      align-items: flex-start;
      flex-wrap: wrap;
    }

    span{
      color: $color-red;
      font: 400 (36/28)*1em $font-ClarendonLTStd;
      display: inline-block;
      margin: 0 5px -2px 5px;

      @include mq(1400px){
        font-size: (30/24)*1em;
      }

      @include mq(1200px){
        font-size: (24/18)*1em;
      }
    }
    
    &:hover{
      text-decoration: underline;
    }
  }

#logo-and-navigation-wrapper{
  background-color: $color-white;
}

#logo-and-navigation{
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  position: relative;

  @include mq(700px){
    display: block;
    padding: 15px 0;
  }
}
  #primary-logo{
    display: block;

    @include mq(800px){
      width: 350px;
    }

    @include mq(700px){
      margin: 0 auto;
      max-width: 75%;
    }

    @include mq(500px){
      max-width: 100%;
    }

    img{
      @include mq(800px){
        width: 100%;
      }
    }
  }
  #primary-navigation{

    @include mq(1600px){
      width: 100%;
      margin-top: 25px;
    }
    
    &>ul{
      display: flex;
      flex-wrap: wrap;

      @include mq(1100px){
        justify-content: center;
      }
    }

    &>ul>li{
      margin: 0 37px;
      font: 400 (26/16)*1em $font-OpenSans;
      color: $color-gray;
      position: relative;

      @include mq(1100px){
        margin: 0 15px;
      }

      &:hover a, &.current_page_item a{
        border-bottom-color: $color-red;
        padding-bottom: 0;

        @include mq(1100px){
          color: $color-red;
        }
      }

      &:first-child{
        margin-left: 0;

        @include mq(1100px){
          margin-left: 15px;
        }
      }
      &:last-child{
        margin-right: 0;

        @include mq(1100px){
          margin-right: 15px;
        }
      }

      &>a{
        color: inherit;
        text-decoration: none;
        border-bottom: 5px solid transparent;
        transition: border-bottom-color .2s, padding-bottom .3s;
        padding-bottom: 10px;

        @include mq(1100px){
          border: 0;
          padding: 0;
        }
      }

      &:hover>ul{
        display: block;
        
        @include mq(500px){
          display: none;
        }
      }
      
      ul{
        display: none;
        position: absolute;
        right: -3px;
        width: 250%;
        padding: 10px 20px 10px 10px;
        background-color: rgba($color-white, .9);
        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
        border-top: 5px solid $color-red;
        z-index: 20;

        li{
          font-size: (20/26)*1em;
          margin: 10px 0;
          text-align: right;

          a:hover{
            color: $color-red;
          }
        }
      }
    }
  }
  #request-appointment-button{
    position: absolute;
    right: 0;
    top: 20%;
    text-transform: uppercase;
    
    //Color Zilla generated gradient
    background: #ec1848;
    background: -moz-linear-gradient(top, #ec1848 0%, #db1942 41%, #b71b34 100%);
    background: -webkit-linear-gradient(top, #ec1848 0%,#db1942 41%,#b71b34 100%);
    background: linear-gradient(to bottom, #ec1848 0%,#db1942 41%,#b71b34 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec1848', endColorstr='#b71b34',GradientType=0 );
    transition: all .5s;

    @include mq(1000px){
      width: 300px;
      padding: 5px;
      text-align: center;
      top: 30%;
    }

    @include mq(700px){
      position: relative;
      margin: 20px auto;
      width: 75%;
    }

    &:hover{
      background: #b71b34;
      background: -moz-linear-gradient(top, #b71b34 0%, #db1942 59%, #ec1848 100%);
      background: -webkit-linear-gradient(top, #b71b34 0%,#db1942 59%,#ec1848 100%);
      background: linear-gradient(to bottom, #b71b34 0%,#db1942 59%,#ec1848 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b71b34', endColorstr='#ec1848',GradientType=0 );
    }
  }