{% if reviews %}
    {% for review in reviews %}
        <div class="review-wrapper">
            <h3>{{ review.reviewer_name }}'s Review</h3>
            <p>{{ review.review_text }}</p>
        </div>
    {% endfor %}
{% endif %}